		<!DOCTYPE html>
		<html ng-app ="gitHubViewer">
	<head>
		<script data-require="angular.js@*" src="angular.js"></script>
		<script src="script.js "></script>
	</head>
	
	<body ng-controller="MainController">

	<h1>{{ message}}</h1>
		<div>{{error}} </div>

		{{ username }}

		<form name ="searchUser" ng-submit= "search(username)">
				<input type="search" required="" placeholder="Username to find" ng-model="username">
				<input type="Submit" value="Search">
		</form>


		<div>
			<h2>{{user.name}}</h2>
			<img ng-src ="http://en.gravatar.com/angular/{{user.angular_url}}" title="{{user.name}}">
		 </div>
		 <table>
		 	<thead>
		 		<tr>
		 			<th>Name</th>
		 			<th>Stars</th>
		 			<th>Language</th>
		 		</tr>
		 	</thead>
		 	<tbody>
		 		<tr ng-repeat="repo in repos"></tr>
		 			<td>{{repo.name}}</td>
		 			<td>{{repo.stargazers.count}}</td>
		 			<td>{{repo.language}}</td>
		 	</tbody>
		</table>
	</body>
	</html>
